div{
	border:10px ridge orange;
	margin:10px 30px 100px 20px;
	padding:10px 40px;
	background-color:darkblue;
	<h2 style="background-color:red>v</h2>
	color:white;
	width:500px;
}
span{
	color:yellow;
	text-decoration:underline;
}